name: Lint

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

  workflow_call:

  workflow_dispatch:

jobs:
  lint-commits:
    runs-on: ubuntu-22.04
    if: github.actor != 'dependabot[bot]'
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check commits
        uses: wagoid/commitlint-github-action@v5

  lint-markdown:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Lint markdown files
        uses: avto-dev/markdown-lint@v1.5.0
        with:
          args: "**/*.md"
          ignore: "./CHANGELOG.md"

  lint-yaml:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Lint yaml files
        uses: ibiqlik/action-yamllint@v3.1.1

  lint-ontology:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Find changed ttl files
        id: changed-ttl-files
        uses: tj-actions/changed-files@v37.6.1
        with:
          files: |
            src/**/*.ttl
            test/**/*.ttl
            example/**/*.ttl
            Makefile

      - name: Validate rdf files (turtle)
        if: steps.changed-ttl-files.outputs.any_changed == 'true'
        run: |
          make lint-ttl

      - name: Check rdf files (turtle) are formatted
        if: steps.changed-ttl-files.outputs.any_changed == 'true'
        run: |
          make format-ttl
          if [[ $(git status -s) ]]; then
            >&2 echo "âŒ There is a diff between formatted files and source code"
            >&2 git status
            exit 1
          fi
